
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475850456'); /* IE9*/
  src: url('iconfont.eot?t=1475850456#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475850456') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475850456') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475850456#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhuye:before { content: "\e6c1"; }
.icon-zhuye1:before { content: "\e679"; }
.icon-faxian:before { content: "\e608"; }
.icon-faxian1:before { content: "\e670"; }
.icon-gouwuche:before { content: "\e600"; }
.icon-gouwuche1:before { content: "\e617"; }
.icon-wode:before { content: "\e61b"; }
.icon-07wode:before { content: "\e61e"; }
